
    .table-container {
        width: 100%;
        overflow-x: auto;
    }
    h1{
        margin: 0px;
        text-align: left;
        font-size: 30pt;
        color: #003552;
        font-family: Arial, sans-serif;
        background-color: white;
    }
    body {
        background-color: #009dd1;
        margin: 0px;
    }
    table {
        background-color: #e0e0e0;
        border-collapse: collapse; 
        min-width: 800px;
        width: 100%;
        font-family: Arial, sans-serif;
        table-layout: auto;
        margin: 8px;
    }
    th, td {
        background-color: #e0e0e0;
        border: 1px solid #000000; 
        padding: 10px;
        text-align: left;
        color: #003552;
        word-wrap: break-word;
        overflow: hidden;
        width: auto;
    }
    table tr:first-child td {
        font-weight: bold;
        color: black;
    }
    td:first-child {
        font-weight: bold;
        color: black;
        width: fit-content;
    }
    footer {
        margin: 0px;
        text-align: left;
        font-size: 10pt;
        color: #003552;
        font-family: Arial, sans-serif;
        background-color: white;
    }

